################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstProject/.vs/FirstProject
/FirstProject/bin/Debug/net7.0
/FirstProject/obj
/PartyInvites/.vs
/PartyInvites/bin/Debug/net7.0
/PartyInvites/obj/Debug/net7.0
/PartyInvites/obj
